@media (min-width: 768px) {
  .header {
    height: $header-height-desktop;
    padding-top: $offset;
    padding-bottom: $offset;

    .nav-toggle {
      display: none;
    }

    .nav {
      position: static;
      transform: none;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 0;

      .nav-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }

      .nav-item + .nav-item {
        margin-left: 32px;
      }
    }
  }

  .hero-wrapper {
    flex-direction: row-reverse;
    .hero-photo {
      flex-basis: 30%;
      margin-left: auto;
      min-width: 243px;
      height: 243px;
    }

    .hero-content {
      text-align: left;
      flex-basis: 60%;

      &-title {
        align-self: flex-start;
      }

      &-description {
      }

      &-button-resume {
        align-self: flex-start;
      }
    }
  }

  .blog {
    &-title {
      display: flex;
      justify-content: space-between;

      &-link {
        display: inline-block;
      }
    }

    &-card {
      padding: 10px 15px 20px;
    }

    &-card-wrapper {
      display: flex;
    }

    &-card + &-card {
      margin-left: 10px;
    }
  }

  .featured {
    &-card {
      display: flex;
      &-photo {
        width: 30%;
        img {
          height: 200px;
          width: 100%;
        }
      }
      &-content {
        margin-left: 10px;
        width: 70%;

        &-title {
          font-size: 1.9rem;
        }
      }
    }
  }
}
