$font-family: "Heebo", sans-serif;
$max-width: 858px;
$header-height: 50px;
$header-height-desktop: 90px;
$offset: 22px;
$finger-size: 46px;
$border-radius: 2px;
$border-radius-card: 4px;
$color-primary: #ff6464;
$color-light-blue: #edf7fa;
$color-blue-link: #00a8cc;
$color-black: #21243d;
$color-light: #8695a4;
$offset-top-bottom: 22px;
