@import "variables";
@import "global";

//HEADER

.header {
  height: $header-height;

  &-menu {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.nav {
  //display: none;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.2s;
  transform: translateY(-100%);
  padding-bottom: 15px;
  background-color: #fff;
  z-index: 1;

  .nav-link {
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-black;
  }

  .accent-color {
    color: $color-primary;
  }
}

.show-nav {
  transform: translateY(0);
  top: 100%;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}

//HERO SECTION

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero-photo {
    margin-bottom: 34px;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 100%;

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: -5px;
      top: 13px;
      background-color: $color-light-blue;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 2rem;
    }

    &-description {
      margin-bottom: 30px;
    }

    &-button-resume {
      background-color: $color-primary;
      color: #fff;
      padding: 0.5em 1em;
      font-size: 1.1rem;
      border-radius: $border-radius;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// BLOG SECTION

.blog {
  background-color: $color-light-blue;

  &-title {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;

    &-link {
      display: none;
    }
  }

  &-card {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: $border-radius;

    &-wrapper {
      padding-bottom: 10px;
    }

    &-title {
      color: #000;
      font-size: 1.2rem;
      font-weight: 700;
    }

    &-type {
      display: flex;
      justify-items: space-between;
      margin-top: 10px;
      margin-bottom: 10px;

      &-item + &-item {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #ccc;
      }
    }

    &-content {
      font-size: 0.95rem;
    }
  }
}

// FEATURED SECTION

.featured {
  &-title {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }

  &-card {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    &-photo {
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 250px;
      }
    }

    &-content {
      &-title {
        font-size: 1.4rem;
        font-weight: 700;
        color: #000;
      }

      &-detail {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &-detail-date {
        font-size: 0.9rem;
        padding: 0.25em 0.5em;
        color: #fff;
        background-color: $color-light;
        border-radius: 10px;
        letter-spacing: 3px;
      }

      &-detail-info {
        color: #ccc;
      }

      &-detail-info + &-detail-info {
        margin-left: 10px;
        padding-left: 10px;
      }

      &-explanation {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

// FOOTER

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &-social-icon {
    display: flex;
    justify-content: center;
  }

  &-social-icon-item + &-social-icon-item {
    margin-left: 20px;
  }

  &-rights {
    text-align: center;
    margin-top: 20px;
  }
}

@import "responsive";
