$font-family: "Heebo", sans-serif;
$max-width: 858px;
$header-height: 50px;
$header-height-desktop: 90px;
$offset: 22px;
$finger-size: 46px;
$border-radius: 2px;
$border-radius-card: 4px;
$color-primary: #ff6464;
$color-light-blue: #edf7fa;
$color-blue-link: #00a8cc;
$color-black: #21243d;
$color-light: #8695a4;
$offset-top-bottom: 22px;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  height: 100%;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
}

//HEADER

.header {
  height: $header-height;
}

.header-menu {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.nav {
  //display: none;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.2s;
  transform: translateY(-100%);
  padding-bottom: 15px;
  background-color: #fff;
  z-index: 1;

  .nav-link {
    font-size: 1.2rem;
    font-weight: 700;
    color: $color-black;
  }

  .accent-color {
    color: $color-primary;
  }
}

.show-nav {
  transform: translateY(0);
  top: 100%;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}

//HERO SECTION

section {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .hero-photo {
    margin-bottom: 34px;
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 100%;

    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: -5px;
      top: 13px;
      background-color: $color-light-blue;
    }
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 2rem;
    }

    &-description {
      margin-bottom: 30px;
    }

    &-button-resume {
      background-color: $color-primary;
      color: #fff;
      padding: 0.5em 1em;
      font-size: 1.1rem;
      border-radius: $border-radius;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// BLOG SECTION

.blog {
  background-color: $color-light-blue;

  &-title {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-top: 15px;
    padding-bottom: 15px;

    &-link {
      display: none;
    }
  }

  &-card {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px 15px;
    border-radius: $border-radius;

    &-wrapper {
      padding-bottom: 10px;
    }

    &-title {
      color: #000;
      font-size: 1.2rem;
      font-weight: 700;
    }

    &-type {
      display: flex;
      justify-items: space-between;
      margin-top: 10px;
      margin-bottom: 10px;

      &-item + &-item {
        margin-left: 10px;
        padding-left: 10px;
        border-left: 1px solid #ccc;
      }
    }

    &-content {
      font-size: 0.95rem;
    }
  }
}

// FEATURED SECTION

.featured {
  &-title {
    font-size: 1.2rem;
    padding-bottom: 20px;
  }

  &-card {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    &-photo {
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 250px;
      }
    }

    &-content {
      &-title {
        font-size: 1.4rem;
        font-weight: 700;
        color: #000;
      }

      &-detail {
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &-detail-date {
        font-size: 0.9rem;
        padding: 0.25em 0.5em;
        color: #fff;
        background-color: $color-light;
        border-radius: 10px;
        letter-spacing: 3px;
      }

      &-detail-info {
        color: #ccc;
      }

      &-detail-info + &-detail-info {
        margin-left: 10px;
        padding-left: 10px;
      }

      &-explanation {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
}

// FOOTER

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &-social-icon {
    display: flex;
    justify-content: center;
  }

  &-social-icon-item + &-social-icon-item {
    margin-left: 20px;
  }

  &-rights {
    text-align: center;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .header {
    height: $header-height-desktop;
    padding-top: $offset;
    padding-bottom: $offset;

    .nav-toggle {
      display: none;
    }

    .nav {
      position: static;
      transform: none;
      justify-content: flex-end;
      align-items: center;
      padding-bottom: 0;

      .nav-list {
        list-style: none;
        display: flex;
        justify-content: flex-end;
      }

      .nav-item + .nav-item {
        margin-left: 32px;
      }
    }
  }

  .hero-wrapper {
    flex-direction: row-reverse;
    .hero-photo {
      flex-basis: 30%;
      margin-left: auto;
      min-width: 243px;
      height: 243px;
    }

    .hero-content {
      text-align: left;
      flex-basis: 60%;

      &-title {
        align-self: flex-start;
      }

      &-description {
      }

      &-button-resume {
        align-self: flex-start;
      }
    }
  }

  .blog {
    &-title {
      display: flex;
      justify-content: space-between;

      &-link {
        display: inline-block;
      }
    }

    &-card {
      padding: 10px 15px 20px;
    }

    &-card-wrapper {
      display: flex;
    }

    &-card + &-card {
      margin-left: 10px;
    }
  }

  .featured {
    &-card {
      display: flex;
      &-photo {
        width: 30%;
        img {
          height: 200px;
          width: 100%;
        }
      }
      &-content {
        margin-left: 10px;
        width: 70%;

        &-title {
          font-size: 1.9rem;
        }
      }
    }
  }
}
