*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
}

.container {
  height: 100%;
  width: 90%;
  max-width: 858px;
  margin: 0 auto;
}

.header {
  height: 50px;
}

.header-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

button {
  background: transparent;
  border: 0;
  position: relative;
  z-index: 1;
}

.nav {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding-bottom: 15px;
  background-color: #fff;
}

.nav .nav-list {
  list-style: none;
}

.nav .nav-link {
  font-size: 1.2rem;
  text-decoration: none;
  font-weight: 700;
  color: #21243d;
}

.nav .accent-color {
  color: #ff6464;
}

.show-nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 100%;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header {
    height: 90px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .header .nav-toggle {
    display: none;
  }
  .header .nav {
    position: static;
    -webkit-transform: none;
            transform: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  .header .nav .nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .nav .nav-item + .nav-item {
    margin-left: 32px;
  }
}
