*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Heebo", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  height: 100%;
  width: 90%;
  max-width: 858px;
  margin: 0 auto;
}

.header {
  height: 50px;
}

.header-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
}

button {
  background: transparent;
  border: 0;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.nav {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  padding-bottom: 15px;
  background-color: #fff;
  z-index: 1;
}

.nav .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #21243d;
}

.nav .accent-color {
  color: #ff6464;
}

.show-nav {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  top: 100%;
}

.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  cursor: pointer;
}

section {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-wrapper .hero-photo {
  margin-bottom: 34px;
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 100%;
}

.hero-wrapper .hero-photo::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  left: -5px;
  top: 13px;
  background-color: #edf7fa;
}

.hero-wrapper .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero-wrapper .hero-content-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
}

.hero-wrapper .hero-content-description {
  margin-bottom: 30px;
}

.hero-wrapper .hero-content-button-resume {
  background-color: #ff6464;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 1.1rem;
  border-radius: 2px;
}

.hero-wrapper .hero-content-button-resume:hover {
  opacity: 0.7;
}

.blog {
  background-color: #edf7fa;
}

.blog-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  padding-top: 15px;
  padding-bottom: 15px;
}

.blog-title-link {
  display: none;
}

.blog-card {
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
}

.blog-card-wrapper {
  padding-bottom: 10px;
}

.blog-card-title {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
}

.blog-card-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.blog-card-type-item + .blog-card-type-item {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid #ccc;
}

.blog-card-content {
  font-size: 0.95rem;
}

.featured-title {
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.featured-card {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.featured-card-photo {
  margin-bottom: 10px;
}

.featured-card-photo img {
  width: 100%;
  height: 250px;
}

.featured-card-content-title {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
}

.featured-card-content-detail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.featured-card-content-detail-date {
  font-size: 0.9rem;
  padding: 0.25em 0.5em;
  color: #fff;
  background-color: #8695a4;
  border-radius: 10px;
  letter-spacing: 3px;
}

.featured-card-content-detail-info {
  color: #ccc;
}

.featured-card-content-detail-info + .featured-card-content-detail-info {
  margin-left: 10px;
  padding-left: 10px;
}

.featured-card-content-explanation {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer-social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-icon-item + .footer-social-icon-item {
  margin-left: 20px;
}

.footer-rights {
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .header {
    height: 90px;
    padding-top: 22px;
    padding-bottom: 22px;
  }
  .header .nav-toggle {
    display: none;
  }
  .header .nav {
    position: static;
    -webkit-transform: none;
            transform: none;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0;
  }
  .header .nav .nav-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header .nav .nav-item + .nav-item {
    margin-left: 32px;
  }
  .hero-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .hero-wrapper .hero-photo {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-left: auto;
    min-width: 243px;
    height: 243px;
  }
  .hero-wrapper .hero-content {
    text-align: left;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
  .hero-wrapper .hero-content-title {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .hero-wrapper .hero-content-button-resume {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .blog-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-title-link {
    display: inline-block;
  }
  .blog-card {
    padding: 10px 15px 20px;
  }
  .blog-card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .blog-card + .blog-card {
    margin-left: 10px;
  }
  .featured-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .featured-card-photo {
    width: 30%;
  }
  .featured-card-photo img {
    height: 200px;
    width: 100%;
  }
  .featured-card-content {
    margin-left: 10px;
    width: 70%;
  }
  .featured-card-content-title {
    font-size: 1.9rem;
  }
}
